<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Preprocessed Text</title>
    <style>
        body{
            background-color: #5F9EA0;
        }
        h1{
            
            padding: 12px 20px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        h3,p{
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            
        }
    </style>
</head>
<body>
<center>
    <div style="width:70%; align :'center'">
        <h1 align="center">Hasil Text Preprocessing</h1>
        <br><br>
        <h3 align="center">Text Asli:</h3><p style="background-color: white;">{{original_text}}<br><br></p>
        <h3 align="center">Text Hasil Preprocessing:</h3><p style="background-color: white;">{{text}}<br><br></p>
        <p align="center"><a href="/" style="color: white;">Try Again</a></p>
    </div>
</center>
</body>
</html>